
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&family=Varela+Round&display=swap');




body{
    background-color: antiquewhite;
}

*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: "Ubuntu", sans-serif;
}
nav ul{
    display: flex;
    align-items: center;
    list-style: none;
    height: 58px;
    background-color: black;
    color: white;
}
nav ul li{
    padding: 0 12px;
}
.brand img{
    width: 58px;
    padding: 0 8px;
 }
 .brand{
    display:flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
 }
 .container{
    border-radius: 15px;

    min-height: 50vh;
    background-color: black;
    color: white;
    font-family: "Varela Round", sans-serif;
    display: flex;
    margin: 23px auto;
    width: 60%;
    /* background-image: url('pexels-daniel-reche-3721941.jpg'); */
 }
 .container img{
    width: 100%;
    border-radius: 15px;

 }
 

 
 .songlist h1{
    position: absolute;
    left: 255px;
 }
 .songItem {
    display: flex;
    position: absolute;
    left: 280px;
    bottom: 400px;

    align-items: center;
 }
.songItem img{
    width: 5%;
 }
 .songItem span{
    padding-left: 10px;
 }
 .Songlistplay{
   padding-bottom: 16px;
 }
 .time i{
    cursor: pointer;
 }
 .wave{
   opacity: 0;
  transition: opacity 0.4s ease-in;
 }
 .wave1{
   opacity: 0;
  transition: opacity 0.4s ease-in;
 }

 /* .time img{
   width: 50px;
   left: 100px;
 } */
 .Songlistplay img{
   width: 50px;
   border-radius: 10px;
   text-align: center;
 }
 .bottom{
    position: sticky;
    height: 96px;
    background-color: black;
    color: white;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 }
 .songinfo{
   width: 120px;
 }

.songinfo img{
   
   opacity: 0;
  transition: opacity 0.4s ease-in;
}
 .icons{
    margin-top: 12px;
 }
 .icons i {
    cursor: pointer;
 }

#MyProgressBar{
    width: 80vh;
    cursor: pointer;

}
/* .time i img{
   top: 10px;
} */